//Tipografia: 
$fuente_principal: "JetBrains Mono", monospace;

//Colores
$verde: #69C062;
$blanco: #FFF;
$negro: #000000;



//Medidas pantalla
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;